<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', { pageTitle }) %>
  <body>
    <%- include('../partials/main-nav.ejs') %>
    <main>
      <div class="row">
        <div class="col-sm-6">
          <div class="card" style="width: 18rem;">
            <img src="<%= product.imageUrl %>" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title"><%= product.title %></h5>
              <p class="card-text"><%= product.price %></p>
              <p class="card-text"><%= product.description %></p>
              <%- include('../partials/add-to-cart-btn.ejs', { product }) %>
            </div>
          </div>
        </div>
    </main>
  </body>
</html>
